[Unit]
Description=sds011-exporter service
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/usr/src/sds011-exporter
ExecStart=sudo python3 /usr/src/sds011-exporter/sds011-exporter.py --bind=0.0.0.0 --port=8001
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
